[workspace]
authors = ["Lukas Hermann"]
platforms = ["osx-arm64"]
channels = ["https://conda.modular.com/max-nightly", "conda-forge"]
preview = ["pixi-build"]

[package]
name = "Shimmer"
version = "0.1.0"
description = "A creative coding framework for Mojo"

[package.build]
backend = { name = "pixi-build-rattler-build", version = "*" }

[package.host-dependencies]
ffipointer = { path = "packages/ffipointer" }
wgpu-mojo = { path = "packages/wgpu" }
glfw-mojo = { path = "packages/glfw" }
portaudio-mojo = { path = "packages/portaudio" }
kissfft-mojo = { path = "packages/kissfft" }

[dependencies]
mojo = ">=0.25.7.0.dev2025110305,<0.26"
max = ">=25.7.0.dev2025110305,<26"
ffipointer = { path = "packages/ffipointer" }
wgpu-mojo = { path = "packages/wgpu" }
glfw-mojo = { path = "packages/glfw" }
portaudio-mojo = { path = "packages/portaudio" }
kissfft-mojo = { path = "packages/kissfft" }
glfw = ">=3.4,<4"
wgpu-native = ">=22.1.0,<23"

[tasks]
setup = { cmd = "mkdir -p build" }
build = { cmd = "bash fix_dylib.sh", depends-on = ["setup"] }
exec = { cmd = "./build/main", depends-on = ["build"] }
gen = { cmd = "cd packages/wgpu && python gen_c.py webgpu.json && mojo format wgpu" }

[activation.env]
MODULAR_MOJO_MAX_SYSTEM_LIBS = "-lm,-L.pixi/envs/default/lib/,-lglfw,-lwgpu_native"

# [target.linux-64.activation]
# env = { MODULAR_MOJO_MAX_SYSTEM_LIBS = "-lrt,-ldl,-lpthread,-lm,-L/opt/cuda/lib/,-L.pixi/envs/default/lib/,-L/usr/lib/,-lGL,-lEGL, shlglfw,-lglad,-lportaudio,-lwgpu_native" }
